rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    // =====================================================
    // SELLER
    // =====================================================

    function isSeller() {
      return request.auth != null
        && request.auth.uid == "I7tUxQVRH5e5R0XDVQwSGXb8m6x1";
    }


    // =====================================================
    // PRODUCTS
    // =====================================================

    match /products/{productId} {

      // الزوار والزبائن يستطيعون رؤية المنتجات
      allow read: if true;

      // البائع يستطيع إضافة منتج
      allow create: if isSeller()
        && request.resource.data.sellerId == request.auth.uid;

      // البائع يستطيع تعديل منتجاته فقط
      allow update: if isSeller()
        && resource.data.sellerId == request.auth.uid;

      // البائع يستطيع حذف منتجاته فقط
      allow delete: if isSeller()
        && resource.data.sellerId == request.auth.uid;
    }


    // =====================================================
    // ORDERS
    // =====================================================

    match /orders/{orderId} {

      // ===================================================
      // CREATE ORDER
      // ===================================================
      //
      // الزبون لا يحتاج إلى حساب Firebase.
      //
      // نسمح بإنشاء الطلب فقط إذا كان الطلب موجهاً
      // إلى متجر Lightora / البائع المحدد.
      //
      allow create: if
        request.resource.data.sellerId
        == "I7tUxQVRH5e5R0XDVQwSGXb8m6x1";


      // ===================================================
      // READ ORDERS
      // ===================================================
      //
      // البائع فقط يستطيع رؤية طلباته.
      //
      allow read: if isSeller()
        && resource.data.sellerId == request.auth.uid;


      // ===================================================
      // UPDATE ORDERS
      // ===================================================
      //
      // البائع فقط يستطيع تعديل طلباته.
      //
      allow update: if isSeller()
        && resource.data.sellerId == request.auth.uid;


      // ===================================================
      // DELETE ORDERS
      // ===================================================
      //
      // البائع فقط يستطيع حذف طلباته.
      //
      allow delete: if isSeller()
        && resource.data.sellerId == request.auth.uid;
    }


    // =====================================================
    // DENY EVERYTHING ELSE
    // =====================================================

    match /{document=**} {
      allow read, write: if false;
    }
  }
}