rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    // =====================================================
    // LIGHTORA ACCOUNT
    // =====================================================

    // Firebase Authentication UID
    // الخاص بحساب صاحب المتجر
    function isLightoraSeller() {
      return request.auth != null
        && request.auth.uid == "I7tUxQVRH5e5R0XDVQwSGXb8m6x1";
    }


    // =====================================================
    // PRODUCTS
    // =====================================================

    match /products/{productId} {

      // الزبائن يستطيعون رؤية المنتجات
      allow read: if true;

      // صاحب المتجر يستطيع إضافة منتج
      allow create: if isLightoraSeller()
        && request.resource.data.sellerId
          == "I7tUxQVRH5e5R0XDVQwSGXb8m6x1";

      // صاحب المتجر يستطيع تعديل منتجاته
      allow update: if isLightoraSeller()
        && resource.data.sellerId
          == "I7tUxQVRH5e5R0XDVQwSGXb8m6x1";

      // صاحب المتجر يستطيع حذف منتجاته
      allow delete: if isLightoraSeller()
        && resource.data.sellerId
          == "I7tUxQVRH5e5R0XDVQwSGXb8m6x1";
    }


    // =====================================================
    // ORDERS
    // =====================================================

    match /orders/{orderId} {

      // الزبون يستطيع إنشاء الطلب
      allow create: if
        request.resource.data.sellerId
        == "ozeREirMKKWr0XCC8cpHFTsgm7p2";


      // صاحب المتجر يستطيع رؤية طلباته
      allow read: if
        isLightoraSeller()
        &&
        resource.data.sellerId
        == "ozeREirMKKWr0XCC8cpHFTsgm7p2";


      // صاحب المتجر يستطيع تعديل الطلب
      allow update: if
        isLightoraSeller()
        &&
        resource.data.sellerId
        == "ozeREirMKKWr0XCC8cpHFTsgm7p2";


      // صاحب المتجر يستطيع حذف الطلب
      allow delete: if
        isLightoraSeller()
        &&
        resource.data.sellerId
        == "ozeREirMKKWr0XCC8cpHFTsgm7p2";
    }


    // =====================================================
    // DEFAULT DENY
    // =====================================================

    match /{document=**} {
      allow read, write: if false;
    }
  }
}